.button {
  @include button-styles(10px 20px, $button-bg, $primary-color, 4px);
}

.button:hover {
  background-color: $secondary-color;
}

.login-button{
  background-color: #e8462e;
  color: #fff;
  font-size: 15px;
  padding: 8px 20px;
  border-radius: 15px;
  text-decoration: none;
  
}

.login-button:hover {
  background-color: brown;
}
